.search-bar {
    padding-top: 197px;
    width: 808px;
    margin: auto;
    height: 25px;
    display: grid;
    grid-template-columns: 763px 45px;
    grid-template-rows: 45px;
    margin-top: -15px;
    margin-bottom: 58px;
}

.search-bar img {
    width: 36px;
    height: 36px;
    min-height: 36px;
    max-height: 36px;
    padding-top: 2.5px;
    padding-left: 0.5px;
}

.search-bar input {
    margin: auto;
    width: 763px;
    height: 45px;
    color: white;
    background: rgb(70, 70, 70);
    border: 3px solid rgb(40, 40, 40);
    font-size: 25px;
    font-family: 'Oswald', sans-serif;
    position: absolute;
    padding-left: 10px;
    margin-left: -13px;
    grid-area: 1 / 1 / 2 / 2;
}

.search-bar button {
    grid-area: 1 / 2 / 2 / 3;
    margin-left: 5px;
    height: 53px;
    width: 53px;
    background: rgb(85, 85, 85);
    border: 3px solid rgb(40, 40, 40);
    border-left: 0px;
}

.search-bar button:hover {
    background-color: rgb(110, 110, 110);
    cursor: pointer;
}

::placeholder {
    color: rgb(40, 40, 40);
    font-family: 'Oswald', sans-serif;
    font-size: 25px;
}

/* Styling for the containers for the Playlist and Control Panel components below */

.content-containers {
    position: absolute;
    width: 99.9%;
    min-width: 1700px;
    min-height: 800px;
    margin-left: -8px;
    padding-bottom: 25px;
    display: flex;
    justify-content: space-evenly;
    flex-wrap: nowrap;
    flex-direction: row;
}

.playlist-container {
    min-width: 750px;
    min-height: 800px;
}

.controlpanel-container {
    min-width: 750px;
    min-height: 800px;
}

@media screen and (max-width: 1715px) {
    .content-containers {
        margin: auto;
        min-width: 820px;
        height: 1715px;
        flex-wrap: wrap;
        flex-direction: column;
        margin-top: 10px;
        margin-left: -8px;
    }

    .playlist-container {
        margin: auto;
    }

    .controlpanel-container {
        margin: auto;
    }
}